<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-dark text-white">
    <h1 class="display-4 text-danger text-uppercase">Assignment Tracker</h1>
    <p class="lead mb-4">Welcome to your assignment tracker. Manage tasks efficiently!</p>
    <a href="/assignmentslist" class="btn btn-danger btn-lg">Go to Assignments</a>
</div>

<%- include Partials/footer.ejs%>